In [5]:
import pandas as pd
import matplotlib as plt

In [7]:
#sell.fillna(0)

sell = sell.fillna(0)

In [30]:
sell.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.04,Critical

In [31]:
sell['Order Date'].astype('str')

0        2014-11-11
1        2014-02-05
2        2014-10-17
3        2014-01-28
4        2014-11-05
            ...
51285    2015-06-19
51286    2014-05-06
51287    2012-08-26
51288    2013-02-17
51289    2013-05-22
Name: Order Date, Length: 51290, dtype: object

In [21]:
sell.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 19 columns):
Row ID            51290 non-null int64
Order ID          51290 non-null object
Order Date        51290 non-null datetime64[ns]
Ship Date         51290 non-null datetime64[ns]
Ship Mode         51290 non-null object
Customer ID       51290 non-null object
Customer Name     51290 non-null object
Segment           51290 non-null object
Postal Code       51290 non-null float64
City              51290 non-null object
State             51290 non-null object
Country           51290 non-null object
Product ID        51290 non-null object
Sales             51290 non-null float64
Quantity          51290 non-null int64
Discount          51290 non-null float64
Profit            51290 non-null float64
Shipping Cost     51290 non-null float64
Order Priority    51290 non-null object
dtypes: datetime64[ns](2), float64(5), int64(2), object(10)
memory usage: 7.4+ MB

In [32]:
sell.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.04,Critical

In [33]:
sell.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.04,Critical

In [35]:
sell[sell['Segment'] == 'Consumer']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.770,High
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.490,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.040,Critical
6,30570,IN-2012-TS2134092-41219,2012-11-06,2012-11-08,First Class,TS-2134092,Toby Swindell,Consumer,NaN,Porirua,Wellington,New Zealand,FUR-CH-5378,1822.080,4,0.0,564.8400,894.770,Critical
7,31192,IN-2013-MB1808592-41378,2013-04-14,2013-04-18,Standard Class,MB-1808592,Mick Brown,Consumer,NaN,Hamilton,Waikato,New Zealand,FUR-TA-3764,5244.840,6,0.0,996.4800,878.380,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51280,35112,CA-2014-ZD21925140-41829,2014-07-09,2014-07-09,Same Day,ZD-219251408,Zuschuss Donatelli,Consumer,32216.0,Jacksonville,Florida,United States,OFF-PA-6474,15.984,2,0.2,4.9950,2.010,Medium
51281,6039,MX-2015-HG1502518-42164,2015-06-09,2015-06-11,First Class,HG-1502518,Hunter Glantz,Consumer,NaN,Bragança Paulista,São Paulo,Brazil,OFF-PA-4475,84.000,5,0.0,9.2000,1.019,High
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,United States,FUR-FU-4070,16.720,5,0.2,3.3440,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,United States,OFF-AR-5321,8.560,2,0.0,2.4824,1.580,High
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,Nicaragua,OFF-PA-3990,61.380,3,0.0,1.8000,1.002,High

In [36]:
sell[sell['State'] == 'Oklahoma']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.98,2,0.0,62.1544,40.77,High
8,40099,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,FUR-BO-5957,341.96,2,0.0,54.7136,25.27,High
713,33927,CA-2013-AB10150140-41527,2013-09-10,2013-09-15,Standard Class,AB-101501402,Aimee Bixby,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-PA-6508,14.94,3,0.0,7.0218,1.52,High
1505,37455,CA-2014-AG10330140-41855,2014-08-04,2014-08-06,Second Class,AG-103301402,Alex Grayson,Consumer,74133.0,Tulsa,Oklahoma,United States,TEC-AC-6077,167.28,12,0.0,23.4192,25.22,Critical
1518,37454,CA-2014-AG10330140-41855,2014-08-04,2014-08-06,Second Class,AG-103301402,Alex Grayson,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-EN-6325,81.54,3,0.0,38.3238,19.06,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49987,33943,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-BI-4349,42.81,3,0.0,20.1207,5.90,High
49990,33942,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,FUR-FU-4228,57.69,3,0.0,23.6529,4.22,High
50001,33944,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-PA-6562,12.96,2,0.0,6.2208,1.64,High
50073,36434,CA-2014-TS21430140-41957,2014-11-14,2014-11-18,Standard Class,TS-214301402,Tom Stivers,Corporate,73120.0,Oklahoma City,Oklahoma,United States,FUR-FU-5175,30.36,4,0.0,13.0548,2.58,Medium
50165,35839,CA-2015-TM21490140-42094,2015-03-31,2015-04-01,First Class,TM-214901402,Tony Molinari,Consumer,73120.0,Oklahoma City,Oklahoma,United States,OFF-EN-5275,325.86,2,0.0,149.8956,83.20,High

In [42]:
sell[sell['City'] == 'Tulsa']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
713,33927,CA-2013-AB10150140-41527,2013-09-10,2013-09-15,Standard Class,AB-101501402,Aimee Bixby,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-PA-6508,14.94,3,0.0,7.0218,1.52,High
1505,37455,CA-2014-AG10330140-41855,2014-08-04,2014-08-06,Second Class,AG-103301402,Alex Grayson,Consumer,74133.0,Tulsa,Oklahoma,United States,TEC-AC-6077,167.28,12,0.0,23.4192,25.22,Critical
1518,37454,CA-2014-AG10330140-41855,2014-08-04,2014-08-06,Second Class,AG-103301402,Alex Grayson,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-EN-6325,81.54,3,0.0,38.3238,19.06,Critical
2172,34270,CA-2015-AR10510140-42355,2015-12-17,2015-12-21,Standard Class,AR-105101402,Andrew Roberts,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-BI-5584,10.80,5,0.0,5.1840,1.63,High
6255,33266,CA-2015-BD11320140-42271,2015-09-24,2015-09-30,Standard Class,BD-113201402,Bill Donatelli,Consumer,74133.0,Tulsa,Oklahoma,United States,TEC-AC-4878,291.96,4,0.0,102.1860,17.37,Medium
12021,35725,CA-2015-CL12565140-42085,2015-03-22,2015-03-28,Standard Class,CL-125651402,Clay Ludtke,Consumer,74133.0,Tulsa,Oklahoma,United States,FUR-CH-4415,1805.88,6,0.0,523.7052,80.82,Medium
18302,40744,CA-2015-DN13690140-42152,2015-05-28,2015-06-04,Standard Class,DN-136901402,Duane Noonan,Consumer,74133.0,Tulsa,Oklahoma,United States,FUR-FU-4111,477.30,5,0.0,138.4170,40.73,Medium
24691,37718,CA-2014-HW14935140-41944,2014-11-01,2014-11-06,Standard Class,HW-149351402,Helen Wasserman,Corporate,74133.0,Tulsa,Oklahoma,United States,OFF-ST-3747,332.94,3,0.0,9.9882,24.56,Medium
24716,37716,CA-2014-HW14935140-41944,2014-11-01,2014-11-06,Standard Class,HW-149351402,Helen Wasserman,Corporate,74133.0,Tulsa,Oklahoma,United States,FUR-CH-4669,368.97,3,0.0,81.1734,15.93,Medium
24790,37717,CA-2014-HW14935140-41944,2014-11-01,2014-11-06,Standard Class,HW-149351402,Helen Wasserman,Corporate,74133.0,Tulsa,Oklahoma,United States,OFF-AR-5286,12.39,3,0.0,3.4692,1.67,Medium
24821,37715,CA-2014-HW14935140-41944,2014-11-01,2014-11-06,Standard Class,HW-149351402,Helen Wasserman,Corporate,74133.0,Tulsa,Oklahoma,United States,OFF-SU-4323,21.96,2,0.0,6.1488,1.41,Medium
29801,37561,US-2014-JH15910140-41919,2014-10-07,2014-10-07,Same Day,JH-159101402,Jonathan Howell,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-BI-3259,28.85,5,0.0,14.4250,1.07,Medium
40047,39604,CA-2014-MT18070140-41863,2014-08-12,2014-08-17,Standard Class,MT-180701402,Michelle Tran,Home Office,74133.0,Tulsa,Oklahoma,United States,OFF-BI-5638,77.56,2,0.0,35.6776,5.75,Medium
40062,39603,CA-2014-MT18070140-41863,2014-08-12,2014-08-17,Standard Class,MT-180701402,Michelle Tran,Home Office,74133.0,Tulsa,Oklahoma,United States,OFF-BI-3278,41.86,7,0.0,19.2556,3.15,Medium
40069,39602,CA-2014-MT18070140-41863,2014-08-12,2014-08-17,Standard Class,MT-180701402,Michelle Tran,Home Office,74133.0,Tulsa,Oklahoma,United States,OFF-PA-6564,32.40,5,0.0,15.5520,3.07,Medium
43235,35812,US-2015-PS18970140-42300,2015-10-23,2015-10-27,Standard Class,PS-189701402,Paul Stevenson,Home Office,74133.0,Tulsa,Oklahoma,United States,OFF-AR-3971,36.44,4,0.0,12.0252,2.57,Medium
43844,33105,CA-2014-PB19210140-41681,2014-02-11,2014-02-13,First Class,PB-192101402,Phillip Breyer,Corporate,74133.0,Tulsa,Oklahoma,United States,TEC-PH-5189,69.93,7,0.0,0.6993,11.11,High
44543,37275,CA-2012-RB19465140-41158,2012-09-06,2012-09-12,Standard Class,RB-194651402,Rick Bensley,Home Office,74133.0,Tulsa,Oklahoma,United States,FUR-TA-4943,429.90,5,0.0,111.7740,37.95,Medium
44546,37277,CA-2012-RB19465140-41158,2012-09-06,2012-09-12,Standard Class,RB-194651402,Rick Bensley,Home Office,74133.0,Tulsa,Oklahoma,United States,FUR-CH-5536,161.96,2,0.0,45.3488,15.81,Medium
44583,37276,CA-2012-RB19465140-41158,2012-09-06,2012-09-12,Standard Class,RB-194651402,Rick Bensley,Home Office,74133.0,Tulsa,Oklahoma,United States,OFF-BI-3308,32.06,2,0.0,15.3888,3.07,Medium
44591,37278,CA-2012-RB19465140-41158,2012-09-06,2012-09-12,Standard Class,RB-194651402,Rick Bensley,Home Office,74133.0,Tulsa,Oklahoma,United States,OFF-ST-3079,19.86,2,0.0,5.7594,1.52,Medium
49969,33945,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,FUR-FU-2871,821.88,6,0.0,213.6888,176.04,High
49976,33946,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,TEC-PH-5603,104.85,3,0.0,28.3095,17.61,High
49987,33943,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-BI-4349,42.81,3,0.0,20.1207,5.90,High
49990,33942,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,FUR-FU-4228,57.69,3,0.0,23.6529,4.22,High
50001,33944,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-PA-6562,12.96,2,0.0,6.2208,1.64,High

In [45]:
mask = sell['State'] == 'Oklahoma'
sell[mask]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.98,2,0.0,62.1544,40.77,High
8,40099,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,FUR-BO-5957,341.96,2,0.0,54.7136,25.27,High
713,33927,CA-2013-AB10150140-41527,2013-09-10,2013-09-15,Standard Class,AB-101501402,Aimee Bixby,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-PA-6508,14.94,3,0.0,7.0218,1.52,High
1505,37455,CA-2014-AG10330140-41855,2014-08-04,2014-08-06,Second Class,AG-103301402,Alex Grayson,Consumer,74133.0,Tulsa,Oklahoma,United States,TEC-AC-6077,167.28,12,0.0,23.4192,25.22,Critical
1518,37454,CA-2014-AG10330140-41855,2014-08-04,2014-08-06,Second Class,AG-103301402,Alex Grayson,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-EN-6325,81.54,3,0.0,38.3238,19.06,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49987,33943,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-BI-4349,42.81,3,0.0,20.1207,5.90,High
49990,33942,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,FUR-FU-4228,57.69,3,0.0,23.6529,4.22,High
50001,33944,CA-2012-TB21400140-41158,2012-09-06,2012-09-11,Second Class,TB-214001402,Tom Boeckenhauer,Consumer,74133.0,Tulsa,Oklahoma,United States,OFF-PA-6562,12.96,2,0.0,6.2208,1.64,High
50073,36434,CA-2014-TS21430140-41957,2014-11-14,2014-11-18,Standard Class,TS-214301402,Tom Stivers,Corporate,73120.0,Oklahoma City,Oklahoma,United States,FUR-FU-5175,30.36,4,0.0,13.0548,2.58,Medium
50165,35839,CA-2015-TM21490140-42094,2015-03-31,2015-04-01,First Class,TM-214901402,Tony Molinari,Consumer,73120.0,Oklahoma City,Oklahoma,United States,OFF-EN-5275,325.86,2,0.0,149.8956,83.20,High

In [50]:
sell[sell['Segment']=='Consumer'].head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.04,Critical
6,30570,IN-2012-TS2134092-41219,2012-11-06,2012-11-08,First Class,TS-2134092,Toby Swindell,Consumer,NaN,Porirua,Wellington,New Zealand,FUR-CH-5378,1822.080,4,0.0,564.8400,894.77,Critical
7,31192,IN-2013-MB1808592-41378,2013-04-14,2013-04-18,Standard Class,MB-1808592,Mick Brown,Consumer,NaN,Hamilton,Waikato,New Zealand,FUR-TA-3764,5244.840,6,0.0,996.4800,878.38,High

In [52]:
sell[sell['Segment'] != 'Consumer']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.765,923.630,Critical
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.540,910.160,Medium
5,22732,IN-2014-JM156557-41818,2014-06-28,2014-07-01,Second Class,JM-156557,Jim Mitchum,Corporate,NaN,Sydney,New South Wales,Australia,TEC-PH-5842,2862.675,5,0.1,763.275,897.350,Critical
11,28879,ID-2013-AJ107801-41383,2013-04-19,2013-04-22,First Class,AJ-107801,Anthony Jacobs,Corporate,NaN,Kabul,Kabul,Afghanistan,FUR-TA-3420,4626.150,5,0.0,647.550,835.570,High
13,4132,MX-2013-VF2171518-41591,2013-11-13,2013-11-13,Same Day,VF-2171518,Vicky Freymann,Home Office,NaN,Toledo,Parana,Brazil,FUR-CH-4530,2221.800,7,0.0,622.020,810.250,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51282,24175,IN-2015-DB132707-42221,2015-08-05,2015-08-10,Standard Class,DB-132707,Deborah Brumfield,Home Office,NaN,Townsville,Queensland,Australia,OFF-BI-3253,58.050,5,0.1,19.950,1.010,Medium
51283,24105,IN-2015-KH1633058-42154,2015-05-30,2015-05-30,Same Day,KH-1633058,Katharine Harms,Corporate,NaN,Lucknow,Uttar Pradesh,India,OFF-PA-4007,26.940,2,0.0,1.860,1.010,High
51284,9922,MX-2013-KM1637593-41636,2013-12-28,2013-12-31,First Class,KM-1637593,Katherine Murray,Home Office,NaN,Managua,Managua,Nicaragua,OFF-PA-5876,18.640,1,0.0,8.000,1.010,Medium
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,Hiroshima,Japan,OFF-FA-3072,65.100,5,0.0,4.500,1.010,Medium
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,Brazil,OFF-BI-2919,13.440,2,0.0,2.400,1.003,Medium

In [54]:
sell['Segment']

0           Consumer
1          Corporate
2           Consumer
3        Home Office
4           Consumer
            ...
51285      Corporate
51286       Consumer
51287       Consumer
51288    Home Office
51289       Consumer
Name: Segment, Length: 51290, dtype: object

In [73]:
sell[sell['Sales'] > 7000]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
17,12069,ES-2015-PJ1883564-42255,2015-09-08,2015-09-14,Standard Class,PJ-1883564,Patrick Jones,Corporate,NaN,Prato,Tuscany,Italy,OFF-AP-4743,7958.580,14,0.0,3979.0800,778.32000,Low
419,40336,CA-2014-AB10105140-41991,2014-12-18,2014-12-22,Standard Class,AB-101051402,Adrian Barton,Consumer,48205.0,Detroit,Michigan,United States,OFF-BI-4345,9892.740,13,0.0,4946.3700,498.70000,Medium
5326,31462,CA-2012-BM11140140-41159,2012-09-07,2012-09-11,Standard Class,BM-111401402,Becky Martin,Consumer,78207.0,San Antonio,Texas,United States,TEC-MA-5082,8159.952,8,0.4,-1359.9920,342.11000,Medium
6422,35574,US-2014-BS11365140-41746,2014-04-17,2014-04-21,Standard Class,BS-113651406,Bill Shonely,Corporate,8701.0,Lakewood,New Jersey,United States,TEC-MA-2865,9099.930,7,0.0,2365.9818,516.91000,Medium
11063,37722,CA-2014-CC12370140-41783,2014-05-24,2014-05-28,Standard Class,CC-123701406,Christopher Conant,Consumer,19120.0,Philadelphia,Pennsylvania,United States,TEC-CO-3691,8399.976,4,0.4,1119.9968,498.08000,Medium
23110,31980,US-2015-GT14635140-42313,2015-11-05,2015-11-05,Same Day,GT-146351408,Grant Thornton,Corporate,27217.0,Burlington,North Carolina,United States,TEC-MA-3855,7999.980,4,0.5,-3839.9904,674.82000,High
25238,35487,CA-2015-HL15040140-42326,2015-11-18,2015-11-23,Standard Class,HL-150401406,Hunter Lopez,Consumer,19711.0,Newark,Delaware,United States,TEC-CO-3691,10499.970,3,0.0,5039.9856,363.19000,Medium
33757,33802,CA-2012-KL16645140-41114,2012-07-24,2012-07-26,Second Class,KL-166451404,Ken Lonsdale,Consumer,94122.0,San Francisco,California,United States,OFF-SU-4601,8187.650,5,0.0,327.5060,16.77000,High
44248,39450,CA-2015-RB19360140-42087,2015-03-24,2015-03-26,First Class,RB-193601404,Raymond Buch,Consumer,98115.0,Seattle,Washington,United States,TEC-CO-3691,13999.960,4,0.0,6719.9808,20.00054,Medium
46295,35395,CA-2012-SC20095140-41174,2012-09-22,2012-09-27,Standard Class,SC-200951402,Sanjit Chand,Consumer,55407.0,Minneapolis,Minnesota,United States,OFF-BI-4821,9449.950,5,0.0,4630.4755,655.61000,Medium
46386,39785,CA-2014-SE20110140-41672,2014-02-02,2014-02-04,Second Class,SE-201101408,Sanjit Engle,Consumer,22204.0,Arlington,Virginia,United States,TEC-MA-4768,8749.950,5,0.0,2799.9840,17.83000,Critical
47114,33994,CA-2012-SM20320140-40985,2012-03-17,2012-03-22,Standard Class,SM-203201408,Sean Miller,Home Office,32216.0,Jacksonville,Florida,United States,TEC-MA-3819,22638.480,6,0.5,-1811.0784,24.28650,Medium
49003,38123,CA-2014-TC20980140-41915,2014-10-03,2014-10-10,Standard Class,TC-209801402,Tamara Chand,Corporate,47905.0,Lafayette,Indiana,United States,TEC-CO-3691,17499.950,5,0.0,8399.9760,349.07000,Medium
49940,33920,CA-2015-TA21385140-42300,2015-10-23,2015-10-25,First Class,TA-213851406,Tom Ashbrook,Home Office,10024.0,New York City,New York,United States,TEC-CO-3691,11199.968,4,0.2,3919.9888,45.98000,High

In [81]:
mask = sell['Order Date'] <= '2015-01-01'
sell[mask]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51284,9922,MX-2013-KM1637593-41636,2013-12-28,2013-12-31,First Class,KM-1637593,Katherine Murray,Home Office,NaN,Managua,Managua,Nicaragua,OFF-PA-5876,18.640,1,0.0,8.0000,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,United States,FUR-FU-4070,16.720,5,0.2,3.3440,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,United States,OFF-AR-5321,8.560,2,0.0,2.4824,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,Brazil,OFF-BI-2919,13.440,2,0.0,2.4000,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,Nicaragua,OFF-PA-3990,61.380,3,0.0,1.8000,1.002,High

In [85]:
mask1 = sell['Segment'] == 'Consumer'

mask2 = sell['City'] =='Dakar'

sell[mask1 & mask2]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.96,8,0.0,311.52,903.04,Critical
2221,42700,SG-2014-BS1665111-41734,2014-04-05,2014-04-08,First Class,BS-1665111,Brian Stugart,Consumer,NaN,Dakar,Dakar,Senegal,OFF-AP-4737,527.01,1,0.0,168.63,124.75,Critical
2999,42483,SG-2012-CD1980111-41020,2012-04-21,2012-04-22,First Class,CD-1980111,Carol Darley,Consumer,NaN,Dakar,Dakar,Senegal,OFF-ST-4266,414.66,2,0.0,107.76,99.68,Critical
4527,44368,SG-2014-RP9390111-41885,2014-09-03,2014-09-09,Standard Class,RP-9390111,Resi Pölking,Consumer,NaN,Dakar,Dakar,Senegal,TEC-PH-3806,2610.72,4,0.0,678.72,72.52,Medium
6133,50384,SG-2015-JH6180111-42158,2015-06-03,2015-06-07,Second Class,JH-6180111,Justin Hirsh,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-4765,483.78,2,0.0,96.72,55.14,High
7651,50385,SG-2015-JH6180111-42158,2015-06-03,2015-06-07,Second Class,JH-6180111,Justin Hirsh,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-5998,295.29,1,0.0,0.00,44.33,High
7664,49193,SG-2015-ZD11925111-42158,2015-06-03,2015-06-05,Second Class,ZD-11925111,Zuschuss Donatelli,Consumer,NaN,Dakar,Dakar,Senegal,OFF-AR-6125,266.58,6,0.0,87.84,44.25,High
8711,49194,SG-2015-ZD11925111-42158,2015-06-03,2015-06-05,Second Class,ZD-11925111,Zuschuss Donatelli,Consumer,NaN,Dakar,Dakar,Senegal,OFF-BI-3726,199.08,4,0.0,55.68,38.62,High
9659,49171,SG-2014-MM8055111-41767,2014-05-08,2014-05-14,Standard Class,MM-8055111,Michelle Moray,Consumer,NaN,Dakar,Dakar,Senegal,TEC-MA-6150,512.34,2,0.0,112.68,34.26,Medium
9672,48162,SG-2014-DD3570111-41998,2014-12-25,2014-12-27,Second Class,DD-3570111,Dorothy Dickinson,Consumer,NaN,Dakar,Dakar,Senegal,OFF-ST-4282,231.36,4,0.0,85.56,34.20,High
10484,49192,SG-2015-ZD11925111-42158,2015-06-03,2015-06-05,Second Class,ZD-11925111,Zuschuss Donatelli,Consumer,NaN,Dakar,Dakar,Senegal,OFF-AR-6112,127.68,8,0.0,47.04,31.07,High
11116,44407,SG-2014-HF4995111-41979,2014-12-06,2014-12-10,Standard Class,HF-4995111,Herbert Flentye,Consumer,NaN,Dakar,Dakar,Senegal,OFF-AP-4507,543.09,1,0.0,206.37,29.11,Medium
11522,47836,SG-2013-IG5085111-41628,2013-12-20,2013-12-26,Standard Class,IG-5085111,Ivan Gibson,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-4790,359.85,1,0.0,147.51,27.94,Medium
12943,42701,SG-2014-BS1665111-41734,2014-04-05,2014-04-08,First Class,BS-1665111,Brian Stugart,Consumer,NaN,Dakar,Dakar,Senegal,OFF-BI-3186,54.66,2,0.0,7.08,24.15,Critical
13250,47996,SG-2015-GM4500111-42236,2015-08-20,2015-08-22,First Class,GM-4500111,Gene McClure,Consumer,NaN,Dakar,Dakar,Senegal,OFF-PA-6619,105.48,4,0.0,21.00,23.38,High
13464,47907,SG-2014-JG5115111-41768,2014-05-09,2014-05-14,Second Class,JG-5115111,Jack Garza,Consumer,NaN,Dakar,Dakar,Senegal,OFF-PA-4147,195.66,6,0.0,50.76,22.90,Medium
13706,42482,SG-2012-CD1980111-41020,2012-04-21,2012-04-22,First Class,CD-1980111,Carol Darley,Consumer,NaN,Dakar,Dakar,Senegal,OFF-ST-4252,78.84,4,0.0,4.68,22.35,Critical
15170,44367,SG-2014-RP9390111-41885,2014-09-03,2014-09-09,Standard Class,RP-9390111,Resi Pölking,Consumer,NaN,Dakar,Dakar,Senegal,FUR-CH-5456,347.88,2,0.0,17.34,19.42,Medium
15680,42706,SG-2014-BS1665111-41734,2014-04-05,2014-04-08,First Class,BS-1665111,Brian Stugart,Consumer,NaN,Dakar,Dakar,Senegal,OFF-BI-3291,52.92,12,0.0,0.00,18.50,Critical
16297,42703,SG-2014-BS1665111-41734,2014-04-05,2014-04-08,First Class,BS-1665111,Brian Stugart,Consumer,NaN,Dakar,Dakar,Senegal,OFF-AP-4747,83.64,1,0.0,6.69,17.45,Critical
17066,49170,SG-2014-MM8055111-41767,2014-05-08,2014-05-14,Standard Class,MM-8055111,Michelle Moray,Consumer,NaN,Dakar,Dakar,Senegal,FUR-BO-3886,143.97,1,0.0,10.05,16.24,Medium
17101,45637,SG-2015-GH4425111-42286,2015-10-09,2015-10-10,First Class,GH-4425111,Gary Hwang,Consumer,NaN,Dakar,Dakar,Senegal,TEC-AC-3385,81.69,1,0.0,4.89,16.18,Critical
17462,42705,SG-2014-BS1665111-41734,2014-04-05,2014-04-08,First Class,BS-1665111,Brian Stugart,Consumer,NaN,Dakar,Dakar,Senegal,OFF-PA-5868,42.24,2,0.0,6.72,15.67,Critical
17797,47698,SG-2012-TC11295111-40953,2012-02-14,2012-02-18,Second Class,TC-11295111,Toby Carlisle,Consumer,NaN,Dakar,Dakar,Senegal,OFF-EN-4445,77.10,2,0.0,0.72,15.23,High
18216,44409,SG-2014-HF4995111-41979,2014-12-06,2014-12-10,Standard Class,HF-4995111,Herbert Flentye,Consumer,NaN,Dakar,Dakar,Senegal,FUR-BO-4852,245.04,2,0.0,9.78,14.64,Medium
18230,45638,SG-2015-GH4425111-42286,2015-10-09,2015-10-10,First Class,GH-4425111,Gary Hwang,Consumer,NaN,Dakar,Dakar,Senegal,TEC-AC-4179,58.83,1,0.0,6.45,14.62,Critical
18452,46731,SG-2015-TS11655111-42167,2015-06-12,2015-06-16,Standard Class,TS-11655111,Trudy Schmidt,Consumer,NaN,Dakar,Dakar,Senegal,TEC-PH-5246,176.22,1,0.0,45.81,14.32,Medium
18776,42708,SG-2014-BS1665111-41734,2014-04-05,2014-04-08,First Class,BS-1665111,Brian Stugart,Consumer,NaN,Dakar,Dakar,Senegal,OFF-BI-3726,49.77,1,0.0,13.92,13.92,Critical
19658,46598,SG-2015-BE1410111-42348,2015-12-10,2015-12-16,Standard Class,BE-1410111,Bobby Elias,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-4580,148.32,1,0.0,66.72,12.86,Medium
20157,47835,SG-2013-IG5085111-41628,2013-12-20,2013-12-26,Standard Class,IG-5085111,Ivan Gibson,Consumer,NaN,Dakar,Dakar,Senegal,TEC-PH-5353,136.50,1,0.0,39.57,12.33,Medium
20166,44090,SG-2013-LF7185111-41479,2013-07-24,2013-07-26,First Class,LF-7185111,Luke Foster,Consumer,NaN,Dakar,Dakar,Senegal,OFF-SU-4994,41.43,1,0.0,11.16,12.32,Critical
20702,42704,SG-2014-BS1665111-41734,2014-04-05,2014-04-08,First Class,BS-1665111,Brian Stugart,Consumer,NaN,Dakar,Dakar,Senegal,FUR-FU-5732,37.80,2,0.0,6.00,11.75,Critical
20826,43166,SG-2013-CM2445111-41354,2013-03-21,2013-03-28,Standard Class,CM-2445111,Chuck Magee,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-4766,243.69,1,0.0,41.40,11.64,Medium
21673,44410,SG-2014-HF4995111-41979,2014-12-06,2014-12-10,Standard Class,HF-4995111,Herbert Flentye,Consumer,NaN,Dakar,Dakar,Senegal,TEC-AC-5199,142.68,2,0.0,19.92,10.84,Medium
21691,49196,SG-2015-ZD11925111-42158,2015-06-03,2015-06-05,Second Class,ZD-11925111,Zuschuss Donatelli,Consumer,NaN,Dakar,Dakar,Senegal,OFF-AR-6125,88.86,2,0.0,29.28,10.83,High
23126,48164,SG-2014-DD3570111-41998,2014-12-25,2014-12-27,Second Class,DD-3570111,Dorothy Dickinson,Consumer,NaN,Dakar,Dakar,Senegal,FUR-FU-4037,55.14,1,0.0,18.72,9.58,High
24643,46599,SG-2015-BE1410111-42348,2015-12-10,2015-12-16,Standard Class,BE-1410111,Bobby Elias,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-3606,141.09,1,0.0,31.02,8.44,Medium
25955,47838,SG-2013-IG5085111-41628,2013-12-20,2013-12-26,Standard Class,IG-5085111,Ivan Gibson,Consumer,NaN,Dakar,Dakar,Senegal,TEC-PH-5813,168.12,1,0.0,21.84,7.61,Medium
27331,43167,SG-2013-CM2445111-41354,2013-03-21,2013-03-28,Standard Class,CM-2445111,Chuck Magee,Consumer,NaN,Dakar,Dakar,Senegal,OFF-SU-4137,76.74,2,0.0,36.06,6.81,Medium
28112,43308,SG-2015-JE5715111-42283,2015-10-06,2015-10-09,Second Class,JE-5715111,Joe Elijah,Consumer,NaN,Dakar,Dakar,Senegal,FUR-FU-5725,81.66,2,0.0,10.56,6.41,Medium
33191,48163,SG-2014-DD3570111-41998,2014-12-25,2014-12-27,Second Class,DD-3570111,Dorothy Dickinson,Consumer,NaN,Dakar,Dakar,Senegal,TEC-MA-4201,81.09,1,0.0,11.34,4.20,High
33329,49217,SG-2012-CB2415111-40963,2012-02-24,2012-02-28,Standard Class,CB-2415111,Christy Brittain,Consumer,NaN,Dakar,Dakar,Senegal,TEC-AC-5101,64.02,2,0.0,30.06,4.15,High
33866,47837,SG-2013-IG5085111-41628,2013-12-20,2013-12-26,Standard Class,IG-5085111,Ivan Gibson,Consumer,NaN,Dakar,Dakar,Senegal,OFF-ST-6275,53.73,1,0.0,6.42,3.96,Medium
34758,48170,SG-2015-MM7920111-42209,2015-07-24,2015-07-26,Second Class,MM-7920111,Michael Moore,Consumer,NaN,Dakar,Dakar,Senegal,OFF-LA-5374,12.81,1,0.0,3.57,3.66,Critical
35328,49195,SG-2015-ZD11925111-42158,2015-06-03,2015-06-05,Second Class,ZD-11925111,Zuschuss Donatelli,Consumer,NaN,Dakar,Dakar,Senegal,OFF-BI-4828,33.48,4,0.0,12.36,3.49,High
35786,46597,SG-2015-BE1410111-42348,2015-12-10,2015-12-16,Standard Class,BE-1410111,Bobby Elias,Consumer,NaN,Dakar,Dakar,Senegal,OFF-AR-5924,44.40,4,0.0,10.56,3.35,Medium
36198,44406,SG-2014-HF4995111-41979,2014-12-06,2014-12-10,Standard Class,HF-4995111,Herbert Flentye,Consumer,NaN,Dakar,Dakar,Senegal,TEC-MA-6134,38.37,1,0.0,0.75,3.23,Medium
37081,43736,SG-2015-BT1440111-42248,2015-09-01,2015-09-04,Second Class,BT-1440111,Bobby Trafton,Consumer,NaN,Dakar,Dakar,Senegal,OFF-PA-4170,22.41,1,0.0,9.84,2.98,High
37357,47908,SG-2014-JG5115111-41768,2014-05-09,2014-05-14,Second Class,JG-5115111,Jack Garza,Consumer,NaN,Dakar,Dakar,Senegal,TEC-AC-5127,27.09,1,0.0,6.21,2.91,Medium
39590,46302,SG-2015-ME7725111-42358,2015-12-20,2015-12-25,Standard Class,ME-7725111,Max Engle,Consumer,NaN,Dakar,Dakar,Senegal,OFF-SU-3003,41.28,1,0.0,4.95,2.34,Medium
39893,47906,SG-2014-JG5115111-41768,2014-05-09,2014-05-14,Second Class,JG-5115111,Jack Garza,Consumer,NaN,Dakar,Dakar,Senegal,OFF-EN-4433,17.34,1,0.0,4.68,2.27,Medium
41184,47697,SG-2012-TC11295111-40953,2012-02-14,2012-02-18,Second Class,TC-11295111,Toby Carlisle,Consumer,NaN,Dakar,Dakar,Senegal,OFF-BI-3295,15.66,2,0.0,6.42,2.03,High
43478,45573,SG-2012-AG675111-41215,2012-11-02,2012-11-07,Standard Class,AG-675111,Anna Gayman,Consumer,NaN,Dakar,Dakar,Senegal,OFF-SU-4308,111.72,4,0.0,45.72,1.81,Medium
43693,42699,SG-2014-BS1665111-41734,2014-04-05,2014-04-08,First Class,BS-1665111,Brian Stugart,Consumer,NaN,Dakar,Dakar,Senegal,OFF-BI-3737,7.26,1,0.0,2.52,1.79,Critical
45021,42702,SG-2014-BS1665111-41734,2014-04-05,2014-04-08,First Class,BS-1665111,Brian Stugart,Consumer,NaN,Dakar,Dakar,Senegal,OFF-AR-6118,52.08,2,0.0,17.70,1.67,Critical
47026,43168,SG-2013-CM2445111-41354,2013-03-21,2013-03-28,Standard Class,CM-2445111,Chuck Magee,Consumer,NaN,Dakar,Dakar,Senegal,OFF-BI-2919,20.16,2,0.0,9.24,1.48,Medium
48628,48111,SG-2014-DP3165111-41933,2014-10-21,2014-10-28,Standard Class,DP-3165111,David Philippe,Consumer,NaN,Dakar,Dakar,Senegal,FUR-FU-3067,23.40,1,0.0,7.23,1.33,Medium
49239,42707,SG-2014-BS1665111-41734,2014-04-05,2014-04-08,First Class,BS-1665111,Brian Stugart,Consumer,NaN,Dakar,Dakar,Senegal,OFF-ST-4061,17.46,1,0.0,0.51,1.27,Critical
49475,44408,SG-2014-HF4995111-41979,2014-12-06,2014-12-10,Standard Class,HF-4995111,Herbert Flentye,Consumer,NaN,Dakar,Dakar,Senegal,OFF-BI-3290,5.91,1,0.0,2.10,1.25,Medium

In [93]:
mask1 = sell['Segment'] == 'Consumer'
mask2 = sell['Order Date'] < '2015-01-01'

sell[mask1 | mask2]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51284,9922,MX-2013-KM1637593-41636,2013-12-28,2013-12-31,First Class,KM-1637593,Katherine Murray,Home Office,NaN,Managua,Managua,Nicaragua,OFF-PA-5876,18.640,1,0.0,8.0000,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,United States,FUR-FU-4070,16.720,5,0.2,3.3440,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,United States,OFF-AR-5321,8.560,2,0.0,2.4824,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,Brazil,OFF-BI-2919,13.440,2,0.0,2.4000,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,Nicaragua,OFF-PA-3990,61.380,3,0.0,1.8000,1.002,High

In [95]:
#sell[sell['City'] == 'Managua']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
260,9857,MX-2015-KC1654093-42158,2015-06-03,2015-06-07,Standard Class,KC-1654093,Kelly Collister,Consumer,NaN,Managua,Managua,Nicaragua,OFF-AP-4507,1810.300,5,0.0,54.300,378.258,High
261,2398,MX-2015-CS1246093-42259,2015-09-12,2015-09-14,First Class,CS-1246093,Chuck Sachs,Consumer,NaN,Managua,Managua,Nicaragua,TEC-PH-5354,2120.500,5,0.0,106.000,377.704,Critical
321,2397,MX-2015-CS1246093-42259,2015-09-12,2015-09-14,First Class,CS-1246093,Chuck Sachs,Consumer,NaN,Managua,Managua,Nicaragua,TEC-PH-5841,848.320,2,0.0,110.280,351.067,Critical
394,8295,MX-2015-CM1216093-42158,2015-06-03,2015-06-05,First Class,CM-1216093,Charles McCrossin,Consumer,NaN,Managua,Managua,Nicaragua,FUR-BO-5762,2344.000,8,0.0,46.880,321.421,High
399,6826,MX-2012-HL1504093-40929,2012-01-21,2012-01-27,Standard Class,HL-1504093,Hunter Lopez,Consumer,NaN,Managua,Managua,Nicaragua,FUR-TA-3764,2797.248,6,0.2,-0.072,320.376,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50024,7062,MX-2015-PK1891093-42256,2015-09-09,2015-09-12,First Class,PK-1891093,Paul Knutson,Home Office,NaN,Managua,Managua,Nicaragua,OFF-BI-6398,12.060,3,0.0,3.480,1.195,Medium
50769,9920,MX-2013-KM1637593-41636,2013-12-28,2013-12-31,First Class,KM-1637593,Katherine Murray,Home Office,NaN,Managua,Managua,Nicaragua,OFF-PA-6607,17.560,1,0.0,4.740,1.111,Medium
51090,7912,MX-2013-HG1502593-41532,2013-09-15,2013-09-16,First Class,HG-1502593,Hunter Glantz,Consumer,NaN,Managua,Managua,Nicaragua,OFF-LA-3313,28.640,4,0.0,0.560,1.075,High
51092,9285,MX-2014-MC1760593-41975,2014-12-02,2014-12-04,Second Class,MC-1760593,Matt Connell,Corporate,NaN,Managua,Managua,Nicaragua,FUR-CH-5806,110.340,1,0.0,0.000,1.074,Medium
51284,9922,MX-2013-KM1637593-41636,2013-12-28,2013-12-31,First Class,KM-1637593,Katherine Murray,Home Office,NaN,Managua,Managua,Nicaragua,OFF-PA-5876,18.640,1,0.0,8.000,1.010,Medium

In [104]:
mask1 = sell['Segment'] == 'Consumer'
mask2 = sell['Order Date'] > '2015-01-01'

sell[mask1 & mask2]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
19,49463,TZ-2015-RH9555129-42343,2015-12-05,2015-12-07,Second Class,RH-9555129,Ritsa Hightower,Consumer,NaN,Uvinza,Kigoma,Tanzania,OFF-AP-4967,3409.740,6,0.0,818.2800,763.380,High
24,1570,US-2015-NP1832582-42216,2015-07-31,2015-08-01,First Class,NP-1832582,Naresj Patel,Consumer,NaN,Juárez,Chihuahua,Mexico,TEC-PH-5268,1713.840,4,0.0,445.5200,728.968,Critical
25,3484,MX-2015-VD2167039-42252,2015-09-05,2015-09-08,First Class,VD-2167039,Valerie Dominguez,Consumer,NaN,Soyapango,San Salvador,El Salvador,FUR-TA-4643,2106.496,8,0.2,526.4960,728.389,Critical
38,15380,ES-2015-PO18865139-42018,2015-01-14,2015-01-18,Standard Class,PO-18865139,Patrick O'Donnell,Consumer,NaN,Stockton-on-Tees,England,United Kingdom,TEC-CO-3598,4141.020,13,0.0,1697.6700,668.960,High
47,24341,IN-2015-AP1091527-42244,2015-08-28,2015-08-29,First Class,AP-1091527,Arthur Prichep,Consumer,NaN,Shouguang,Shandong,China,FUR-CH-5380,2761.200,6,0.0,110.3400,644.750,High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51267,39638,CA-2015-ZD21925140-42167,2015-06-12,2015-06-15,First Class,ZD-219251404,Zuschuss Donatelli,Consumer,90036.0,Los Angeles,California,United States,OFF-AP-4929,61.440,3,0.0,16.5888,8.470,High
51268,47274,SA-2015-JW6075110-42103,2015-04-09,2015-04-13,Standard Class,JW-6075110,Julia West,Consumer,NaN,Riyadh,Ar Riyad,Saudi Arabia,OFF-BI-3735,5.340,1,0.0,2.1600,1.030,Medium
51270,13800,ES-2015-NM1852045-42221,2015-08-05,2015-08-11,Standard Class,NM-1852045,Neoma Murray,Consumer,NaN,Chartres,Centre-Val de Loire,France,OFF-LA-3273,17.880,2,0.0,5.8800,1.030,Medium
51272,5465,MX-2015-AA1048031-42111,2015-04-17,2015-04-20,Second Class,AA-1048031,Andrew Allen,Consumer,NaN,San José de las Lajas,Mayabeque,Cuba,OFF-AR-3547,19.320,2,0.0,0.5600,1.025,Medium
51281,6039,MX-2015-HG1502518-42164,2015-06-09,2015-06-11,First Class,HG-1502518,Hunter Glantz,Consumer,NaN,Bragança Paulista,São Paulo,Brazil,OFF-PA-4475,84.000,5,0.0,9.2000,1.019,High

In [185]:
mask = sell['Segment'].isin(['Consumer','Home Office'])


sell[mask]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.770,High
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.040,Critical
6,30570,IN-2012-TS2134092-41219,2012-11-06,2012-11-08,First Class,TS-2134092,Toby Swindell,Consumer,NaN,Porirua,Wellington,New Zealand,FUR-CH-5378,1822.080,4,0.0,564.8400,894.770,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51284,9922,MX-2013-KM1637593-41636,2013-12-28,2013-12-31,First Class,KM-1637593,Katherine Murray,Home Office,NaN,Managua,Managua,Nicaragua,OFF-PA-5876,18.640,1,0.0,8.0000,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,United States,FUR-FU-4070,16.720,5,0.2,3.3440,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,United States,OFF-AR-5321,8.560,2,0.0,2.4824,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,Brazil,OFF-BI-2919,13.440,2,0.0,2.4000,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,Nicaragua,OFF-PA-3990,61.380,3,0.0,1.8000,1.002,High

In [125]:
sell.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.04,Critical

In [143]:
mask = sell['Postal Code'].isnull()


sell[mask]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.765,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.971,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.540,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.520,903.040,Critical
5,22732,IN-2014-JM156557-41818,2014-06-28,2014-07-01,Second Class,JM-156557,Jim Mitchum,Corporate,NaN,Sydney,New South Wales,Australia,TEC-PH-5842,2862.675,5,0.1,763.275,897.350,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51283,24105,IN-2015-KH1633058-42154,2015-05-30,2015-05-30,Same Day,KH-1633058,Katharine Harms,Corporate,NaN,Lucknow,Uttar Pradesh,India,OFF-PA-4007,26.940,2,0.0,1.860,1.010,High
51284,9922,MX-2013-KM1637593-41636,2013-12-28,2013-12-31,First Class,KM-1637593,Katherine Murray,Home Office,NaN,Managua,Managua,Nicaragua,OFF-PA-5876,18.640,1,0.0,8.000,1.010,Medium
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,Hiroshima,Japan,OFF-FA-3072,65.100,5,0.0,4.500,1.010,Medium
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,Brazil,OFF-BI-2919,13.440,2,0.0,2.400,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,Nicaragua,OFF-PA-3990,61.380,3,0.0,1.800,1.002,High

In [154]:
sell['Postal Code'].notnull()

0         True
1        False
2        False
3        False
4        False
         ...
51285    False
51286     True
51287     True
51288    False
51289    False
Name: Postal Code, Length: 51290, dtype: bool

In [155]:
sell.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.04,Critical

In [163]:
mask = sell[sell['Postal Code'].notnull()]

mask['Postal Code'].count()

9994

In [166]:
sell[sell['Sales'].between(20000, 80000)]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
47114,33994,CA-2012-SM20320140-40985,2012-03-17,2012-03-22,Standard Class,SM-203201408,Sean Miller,Home Office,32216.0,Jacksonville,Florida,United States,TEC-MA-3819,22638.48,6,0.5,-1811.0784,24.2865,Medium

In [177]:
sell.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.04,Critical

In [190]:
a = sell['Segment'].isin(['Consumer','Corporate'])

sell[a].fillna(0)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,0.0,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,0.0,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.490,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,0.0,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.040,Critical
5,22732,IN-2014-JM156557-41818,2014-06-28,2014-07-01,Second Class,JM-156557,Jim Mitchum,Corporate,0.0,Sydney,New South Wales,Australia,TEC-PH-5842,2862.675,5,0.1,763.2750,897.350,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51283,24105,IN-2015-KH1633058-42154,2015-05-30,2015-05-30,Same Day,KH-1633058,Katharine Harms,Corporate,0.0,Lucknow,Uttar Pradesh,India,OFF-PA-4007,26.940,2,0.0,1.8600,1.010,High
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,0.0,Kure,Hiroshima,Japan,OFF-FA-3072,65.100,5,0.0,4.5000,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,United States,FUR-FU-4070,16.720,5,0.2,3.3440,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,United States,OFF-AR-5321,8.560,2,0.0,2.4824,1.580,High
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,0.0,Tipitapa,Managua,Nicaragua,OFF-PA-3990,61.380,3,0.0,1.8000,1.002,High

In [191]:
sell.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium

In [198]:
sell[sell['Sales'].between(0,80000)]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,Hiroshima,Japan,OFF-FA-3072,65.100,5,0.0,4.5000,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,United States,FUR-FU-4070,16.720,5,0.2,3.3440,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,United States,OFF-AR-5321,8.560,2,0.0,2.4824,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,Brazil,OFF-BI-2919,13.440,2,0.0,2.4000,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,Nicaragua,OFF-PA-3990,61.380,3,0.0,1.8000,1.002,High

In [203]:
sell[sell['Order Date'].between('2015-01-01','2015-12-31')]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
15,13779,ES-2015-BP1118545-42216,2015-07-31,2015-08-03,Second Class,BP-1118545,Ben Peterman,Corporate,NaN,Paris,Ile-de-France,France,OFF-AP-3575,1869.588,4,0.1,186.948,801.660,Critical
17,12069,ES-2015-PJ1883564-42255,2015-09-08,2015-09-14,Standard Class,PJ-1883564,Patrick Jones,Corporate,NaN,Prato,Tuscany,Italy,OFF-AP-4743,7958.580,14,0.0,3979.080,778.320,Low
18,22096,IN-2015-JS156857-42035,2015-01-31,2015-02-01,First Class,JS-156857,Jim Sink,Corporate,NaN,Townsville,Queensland,Australia,TEC-CO-3597,2565.594,9,0.1,28.404,766.930,Critical
19,49463,TZ-2015-RH9555129-42343,2015-12-05,2015-12-07,Second Class,RH-9555129,Ritsa Hightower,Consumer,NaN,Uvinza,Kigoma,Tanzania,OFF-AP-4967,3409.740,6,0.0,818.280,763.380,High
24,1570,US-2015-NP1832582-42216,2015-07-31,2015-08-01,First Class,NP-1832582,Naresj Patel,Consumer,NaN,Juárez,Chihuahua,Mexico,TEC-PH-5268,1713.840,4,0.0,445.520,728.968,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51277,46582,TU-2015-KF6285134-42337,2015-11-29,2015-11-30,First Class,KF-6285134,Karen Ferguson,Home Office,NaN,Midyat,Mardin,Turkey,OFF-AR-3546,34.128,6,0.6,-49.572,1.020,Medium
51281,6039,MX-2015-HG1502518-42164,2015-06-09,2015-06-11,First Class,HG-1502518,Hunter Glantz,Consumer,NaN,Bragança Paulista,São Paulo,Brazil,OFF-PA-4475,84.000,5,0.0,9.200,1.019,High
51282,24175,IN-2015-DB132707-42221,2015-08-05,2015-08-10,Standard Class,DB-132707,Deborah Brumfield,Home Office,NaN,Townsville,Queensland,Australia,OFF-BI-3253,58.050,5,0.1,19.950,1.010,Medium
51283,24105,IN-2015-KH1633058-42154,2015-05-30,2015-05-30,Same Day,KH-1633058,Katharine Harms,Corporate,NaN,Lucknow,Uttar Pradesh,India,OFF-PA-4007,26.940,2,0.0,1.860,1.010,High
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,Hiroshima,Japan,OFF-FA-3072,65.100,5,0.0,4.500,1.010,Medium

In [218]:
sell['Order Date'].min()

Timestamp('2012-01-01 00:00:00')

In [225]:
sell['Order Date'].sort_values(ascending = True)

22950   2012-01-01
43610   2012-01-01
25078   2012-01-01
31870   2012-01-01
31583   2012-01-01
           ...
17379   2015-12-31
42870   2015-12-31
39873   2015-12-31
7908    2015-12-31
39602   2015-12-31
Name: Order Date, Length: 51290, dtype: datetime64[ns]

In [240]:
sell['Country'].duplicated(keep = False)

0        True
1        True
2        True
3        True
4        True
         ...
51285    True
51286    True
51287    True
51288    True
51289    True
Name: Country, Length: 51290, dtype: bool

In [245]:
len(sell)

51290

In [256]:
sell.drop_duplicates(subset = ['Country'], keep = 'last')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
2881,41763,SA-2015-IG5085110-42133,2015-05-09,2015-05-11,Second Class,IG-5085110,Ivan Gibson,Consumer,NaN,Kuwait City,Al Asimah,Kuwait,FUR-CH-4564,1094.22,6,0.0,317.1600,102.900,High
4803,49476,MZ-2015-KE642087-42118,2015-04-24,2015-04-26,Second Class,KE-642087,Katrina Edelman,Corporate,NaN,Lilongwe,Lilongwe,Malawi,FUR-BO-3640,366.84,1,0.0,117.3600,68.880,High
11914,44344,IV-2014-SG1047029-41951,2014-11-08,2014-11-10,First Class,SG-1047029,Sheri Gordon,Consumer,NaN,Laayoune,Laayoune,Western Sahara,FUR-BO-3893,243.06,2,0.0,114.1800,26.850,Medium
18013,4212,MX-2015-MH1802518-42169,2015-06-14,2015-06-17,First Class,MH-1802518,Michelle Huthwaite,Consumer,NaN,Cayenne,Französisch-Guayana,French Guiana,OFF-ST-6058,131.76,4,0.0,9.2000,14.939,High
20198,22190,IN-2013-VM2168558-41298,2013-01-24,2013-01-30,Standard Class,VM-2168558,Valerie Mitchum,Home Office,NaN,Phuntsholing,Chukha,Bhutan,OFF-ST-6274,164.07,3,0.0,21.2400,12.290,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51283,24105,IN-2015-KH1633058-42154,2015-05-30,2015-05-30,Same Day,KH-1633058,Katharine Harms,Corporate,NaN,Lucknow,Uttar Pradesh,India,OFF-PA-4007,26.94,2,0.0,1.8600,1.010,High
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,Hiroshima,Japan,OFF-FA-3072,65.10,5,0.0,4.5000,1.010,Medium
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,United States,OFF-AR-5321,8.56,2,0.0,2.4824,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,Brazil,OFF-BI-2919,13.44,2,0.0,2.4000,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,Nicaragua,OFF-PA-3990,61.38,3,0.0,1.8000,1.002,High

In [266]:
sell.describe().astype('int')

       Row ID  Postal Code  Sales  Quantity  Discount  Profit  Shipping Cost
count   51290         9994  51290     51290     51290   51290          51290
mean    25645        55190    246         3         0      28             26
std     14806        32063    487         2         0     174             57
min         1         1040      0         1         0   -6599              1
25%     12823        23223     30         2         0       0              2
50%     25645        56430     85         3         0       9              7
75%     38467        90008    251         5         0      36             24
max     51290        99301  22638        14         0    8399            933

In [272]:
sell[sell['Order Date'].between(sell['Order Date'].min(),sell['Order Date'].max())]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.770,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.630,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.490,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.160,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.040,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,IN-2015-KE1642066-42174,2015-06-19,2015-06-19,Same Day,KE-1642066,Katrina Edelman,Corporate,NaN,Kure,Hiroshima,Japan,OFF-FA-3072,65.100,5,0.0,4.5000,1.010,Medium
51286,34337,US-2014-ZD21925140-41765,2014-05-06,2014-05-10,Standard Class,ZD-219251408,Zuschuss Donatelli,Consumer,37421.0,Chattanooga,Tennessee,United States,FUR-FU-4070,16.720,5,0.2,3.3440,1.930,High
51287,31315,CA-2012-ZD21925140-41147,2012-08-26,2012-08-31,Second Class,ZD-219251404,Zuschuss Donatelli,Consumer,94109.0,San Francisco,California,United States,OFF-AR-5321,8.560,2,0.0,2.4824,1.580,High
51288,9596,MX-2013-RB1979518-41322,2013-02-17,2013-02-21,Standard Class,RB-1979518,Ross Baird,Home Office,NaN,Valinhos,São Paulo,Brazil,OFF-BI-2919,13.440,2,0.0,2.4000,1.003,Medium
51289,6147,MX-2013-MC1810093-41416,2013-05-22,2013-05-26,Second Class,MC-1810093,Mick Crebagga,Consumer,NaN,Tipitapa,Managua,Nicaragua,OFF-PA-3990,61.380,3,0.0,1.8000,1.002,High

In [281]:
mask1 = sell[sell['Customer Name'] == 'Justin Ritter']

mask1['Order Date'].min()

Timestamp('2012-10-12 00:00:00')

In [289]:
sell['Order Date'].sort_values(ascending = False)

39602   2015-12-31
7908    2015-12-31
39873   2015-12-31
42870   2015-12-31
17379   2015-12-31
           ...
31583   2012-01-01
31870   2012-01-01
25078   2012-01-01
43610   2012-01-01
22950   2012-01-01
Name: Order Date, Length: 51290, dtype: datetime64[ns]

In [291]:
sell.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2014-RH9495111-41948,2014-11-05,2014-11-06,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,Dakar,Senegal,TEC-CO-6011,2832.960,8,0.0,311.5200,903.04,Critical

In [296]:
sell.iloc[2]

Row ID                             25330
Order ID          IN-2014-CR127307-41929
Order Date           2014-10-17 00:00:00
Ship Date            2014-10-18 00:00:00
Ship Mode                    First Class
Customer ID                    CR-127307
Customer Name               Craig Reiter
Segment                         Consumer
Postal Code                          NaN
City                            Brisbane
State                         Queensland
Country                        Australia
Product ID                   TEC-PH-5356
Sales                            5175.17
Quantity                               9
Discount                             0.1
Profit                           919.971
Shipping Cost                     915.49
Order Priority                    Medium
Name: 2, dtype: object

In [298]:
sell.iloc[20:]

sell.iloc[:4]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.16,Medium

In [331]:
sell.head(4)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
1,26341,IN-2014-JR162107-41675,2014-02-05,2014-02-07,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,New South Wales,Australia,FUR-CH-5379,3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2014-CR127307-41929,2014-10-17,2014-10-18,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,Queensland,Australia,TEC-PH-5356,5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2014-KM1637548-41667,2014-01-28,2014-01-30,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,Berlin,Germany,TEC-PH-5267,2892.510,5,0.1,-96.5400,910.16,Medium

In [344]:
sell.sort_index(inplace = True)

In [345]:
sell.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Postal Code,City,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
Segment,,,,,,,,,,,,,,,,,,
Consumer,40098,CA-2014-AB10015140-41954,2014-11-11,2014-11-13,First Class,AB-100151402,Aaron Bergman,73120.0,Oklahoma City,Oklahoma,United States,TEC-PH-5816,221.980,2,0.0,62.1544,40.77,High
Consumer,11193,ES-2014-EB1411048-41780,2014-05-21,2014-05-25,Second Class,EB-1411048,Eugene Barchas,NaN,Hamburg,Hamburg,Germany,OFF-BI-3254,39.780,3,0.0,18.2700,6.10,High
Consumer,20050,ES-2013-DD13570120-41605,2013-11-27,2013-12-01,Standard Class,DD-13570120,Dorothy Dickinson,NaN,Valladolid,Castile and León,Spain,OFF-BI-4803,179.460,6,0.0,71.6400,6.10,Medium
Consumer,31474,US-2013-JE15745140-41599,2013-11-21,2013-11-23,Second Class,JE-157451406,Joel Eaton,43055.0,Newark,Ohio,United States,FUR-CH-5536,396.802,7,0.3,-11.3372,66.22,Critical
Consumer,35145,CA-2015-JE15745140-42270,2015-09-23,2015-09-24,First Class,JE-157451408,Joel Eaton,72701.0,Fayetteville,Arkansas,United States,OFF-BI-4820,691.960,4,0.0,318.3016,80.81,Medium

In [377]:
sell.loc['Consumer',['Sales','Profit']]

            Sales    Profit
Segment
Consumer  221.980   62.1544
Consumer   39.780   18.2700
Consumer  179.460   71.6400
Consumer  396.802  -11.3372
Consumer  691.960  318.3016
...           ...       ...
Consumer  883.920 -110.4900
Consumer   41.958   10.6380
Consumer   54.960   19.2300
Consumer   87.600   27.1200
Consumer  262.764  102.1440

[26518 rows x 2 columns]

In [393]:
#sell.set_index('City',inplace = True)
sell.sort_index(inplace = True)

In [405]:
sell.loc[['Aachen','eMbalenhle']]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Postal Code,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
City,,,,,,,,,,,,,,,,,
Aachen,11602,ES-2014-JE1571548-41710,2014-03-12,2014-03-16,Standard Class,JE-1571548,Joe Elijah,NaN,North Rhine-Westphalia,Germany,OFF-BI-6402,11.820,2,0.0,1.020,1.46,High
Aachen,17543,ES-2013-MA1799548-41394,2013-04-30,2013-05-06,Standard Class,MA-1799548,Michelle Arnett,NaN,North Rhine-Westphalia,Germany,OFF-BI-4815,101.760,2,0.0,46.800,8.42,Medium
Aachen,18871,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-AR-3528,170.460,3,0.0,25.560,22.56,High
Aachen,19017,ES-2013-VP2176048-41629,2013-12-21,2013-12-21,Same Day,VP-2176048,Victoria Pisteka,NaN,North Rhine-Westphalia,Germany,FUR-BO-4845,521.856,4,0.1,81.096,4.73,High
Aachen,18867,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-BI-2881,59.160,2,0.0,10.020,7.15,High
Aachen,12623,ES-2014-RC1982548-41965,2014-11-22,2014-11-28,Standard Class,RC-1982548,Roy Collins,NaN,North Rhine-Westphalia,Germany,FUR-BO-5962,1050.732,6,0.1,315.072,90.62,Medium
Aachen,18868,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-ST-4267,1309.203,7,0.1,494.403,197.03,High
Aachen,14866,ES-2013-TS2165548-41591,2013-11-13,2013-11-14,First Class,TS-2165548,Trudy Schmidt,NaN,North Rhine-Westphalia,Germany,OFF-FA-3072,26.040,2,0.0,1.020,5.31,High
Aachen,12624,ES-2014-RC1982548-41965,2014-11-22,2014-11-28,Standard Class,RC-1982548,Roy Collins,NaN,North Rhine-Westphalia,Germany,OFF-BI-4828,58.590,7,0.0,21.630,3.17,Medium
Aachen,18869,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-AR-3460,87.030,3,0.0,35.640,11.91,High
Aachen,17583,ES-2012-TB2152048-41195,2012-10-13,2012-10-18,Standard Class,TB-2152048,Tracy Blumstein,NaN,North Rhine-Westphalia,Germany,OFF-BI-2894,41.040,3,0.0,12.240,1.66,Medium
Aachen,14865,ES-2013-TS2165548-41591,2013-11-13,2013-11-14,First Class,TS-2165548,Trudy Schmidt,NaN,North Rhine-Westphalia,Germany,OFF-BI-3292,9.540,2,0.0,4.080,1.99,High
Aachen,14047,ES-2014-GZ1454548-41702,2014-03-04,2014-03-08,Standard Class,GZ-1454548,George Zrebassa,NaN,North Rhine-Westphalia,Germany,OFF-AR-3483,53.550,3,0.0,4.230,6.34,Medium
Aachen,13034,ES-2013-DJ1363048-41492,2013-08-06,2013-08-11,Standard Class,DJ-1363048,Doug Jacobs,NaN,North Rhine-Westphalia,Germany,TEC-MA-5000,50.040,1,0.0,14.490,3.51,Medium
Aachen,11567,ES-2013-JC1534048-41534,2013-09-17,2013-09-17,Same Day,JC-1534048,Jasper Cacioppo,NaN,North Rhine-Westphalia,Germany,OFF-EN-4453,128.340,6,0.0,0.000,19.48,High
Aachen,18866,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-BI-6375,63.450,5,0.0,29.100,6.44,High
Aachen,18870,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-AR-3462,60.540,2,0.0,20.580,1.50,High
eMbalenhle,41916,SF-2012-KH6690117-41140,2012-08-19,2012-08-22,First Class,KH-6690117,Kristen Hastings,NaN,Mpumalanga,South Africa,OFF-SU-4308,59.100,2,0.0,7.080,6.94,Medium
eMbalenhle,41915,SF-2012-KH6690117-41140,2012-08-19,2012-08-22,First Class,KH-6690117,Kristen Hastings,NaN,Mpumalanga,South Africa,OFF-FA-2956,16.800,2,0.0,6.540,2.45,Medium

In [442]:
sell.iloc[:2]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Postal Code,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
City,,,,,,,,,,,,,,,,,
Aachen,11602,ES-2014-JE1571548-41710,2014-03-12,2014-03-16,Standard Class,JE-1571548,Joe Elijah,NaN,North Rhine-Westphalia,Germany,OFF-BI-6402,11.82,2,0.0,1.02,1.46,High
Aachen,17543,ES-2013-MA1799548-41394,2013-04-30,2013-05-06,Standard Class,MA-1799548,Michelle Arnett,NaN,North Rhine-Westphalia,Germany,OFF-BI-4815,101.76,2,0.0,46.80,8.42,Medium

In [449]:
sell.head(2)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Postal Code,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
City,,,,,,,,,,,,,,,,,
Aachen,11602,ES-2014-JE1571548-41710,2014-03-12,2014-03-16,Standard Class,JE-1571548,Joe Elijah,NaN,North Rhine-Westphalia,Germany,OFF-BI-6402,11.82,2,0.0,1.02,1.46,High
Aachen,17543,ES-2013-MA1799548-41394,2013-04-30,2013-05-06,Standard Class,MA-1799548,Michelle Arnett,NaN,North Rhine-Westphalia,Germany,OFF-BI-4815,101.76,2,0.0,46.80,8.42,Medium

In [458]:
#sell.iloc[[1,2]]
sell.iloc[:2]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Postal Code,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
City,,,,,,,,,,,,,,,,,
Aachen,11602,ES-2014-JE1571548-41710,2014-03-12,2014-03-16,Standard Class,JE-1571548,Joe Elijah,NaN,North Rhine-Westphalia,Germany,OFF-BI-6402,11.82,2,0.0,1.02,1.46,High
Aachen,17543,ES-2013-MA1799548-41394,2013-04-30,2013-05-06,Standard Class,MA-1799548,Michelle Arnett,NaN,North Rhine-Westphalia,Germany,OFF-BI-4815,101.76,2,0.0,46.80,8.42,Medium

In [459]:
sell.iloc[1:5]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Postal Code,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
City,,,,,,,,,,,,,,,,,
Aachen,17543,ES-2013-MA1799548-41394,2013-04-30,2013-05-06,Standard Class,MA-1799548,Michelle Arnett,NaN,North Rhine-Westphalia,Germany,OFF-BI-4815,101.760,2,0.0,46.800,8.42,Medium
Aachen,18871,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-AR-3528,170.460,3,0.0,25.560,22.56,High
Aachen,19017,ES-2013-VP2176048-41629,2013-12-21,2013-12-21,Same Day,VP-2176048,Victoria Pisteka,NaN,North Rhine-Westphalia,Germany,FUR-BO-4845,521.856,4,0.1,81.096,4.73,High
Aachen,18867,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-BI-2881,59.160,2,0.0,10.020,7.15,High

In [462]:
sell.iloc[[1,2,3]]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Postal Code,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
City,,,,,,,,,,,,,,,,,
Aachen,17543,ES-2013-MA1799548-41394,2013-04-30,2013-05-06,Standard Class,MA-1799548,Michelle Arnett,NaN,North Rhine-Westphalia,Germany,OFF-BI-4815,101.760,2,0.0,46.800,8.42,Medium
Aachen,18871,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-AR-3528,170.460,3,0.0,25.560,22.56,High
Aachen,19017,ES-2013-VP2176048-41629,2013-12-21,2013-12-21,Same Day,VP-2176048,Victoria Pisteka,NaN,North Rhine-Westphalia,Germany,FUR-BO-4845,521.856,4,0.1,81.096,4.73,High

In [513]:
sell.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Postal Code,State,Country,Product ID,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
City,,,,,,,,,,,,,,,,,
Aachen,11602,ES-2014-JE1571548-41710,2014-03-12,2014-03-16,Standard Class,JE-1571548,Joe Elijah,NaN,North Rhine-Westphalia,Germany,OFF-BI-6402,11.820,2,0.0,1.020,1.46,High
Aachen,17543,ES-2013-MA1799548-41394,2013-04-30,2013-05-06,Standard Class,MA-1799548,Michelle Arnett,NaN,North Rhine-Westphalia,Germany,OFF-BI-4815,101.760,2,0.0,46.800,8.42,Medium
Aachen,18871,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-AR-3528,170.460,3,0.0,25.560,22.56,High
Aachen,19017,ES-2013-VP2176048-41629,2013-12-21,2013-12-21,Same Day,VP-2176048,Victoria Pisteka,NaN,North Rhine-Westphalia,Germany,FUR-BO-4845,521.856,4,0.1,81.096,4.73,High
Aachen,18867,ES-2013-MO1750048-41588,2013-11-10,2013-11-14,Standard Class,MO-1750048,Mary O'Rourke,NaN,North Rhine-Westphalia,Germany,OFF-BI-2881,59.160,2,0.0,10.020,7.15,High

In [541]:
sell.loc['Aachen':,['Ship Date','Order Date']]

                       Ship Date Order Date
City
Aachen                2014-03-16 2014-03-12
Aachen                2013-05-06 2013-04-30
Aachen                2013-11-14 2013-11-10
Aachen                2013-12-21 2013-12-21
Aachen                2013-11-14 2013-11-10
...                          ...        ...
eMbalenhle            2012-08-22 2012-08-19
Águas Lindas de Goiás 2015-03-12 2015-03-07
Águas Lindas de Goiás 2015-03-18 2015-03-13
Águas Lindas de Goiás 2015-03-12 2015-03-07
Águas Lindas de Goiás 2014-12-21 2014-12-20

[51290 rows x 2 columns]